@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}


* {
  box-sizing: inherit;
  &:before, &:after {
    box-sizing: inherit;
  }
}

html, body {
  width: 100%;
  height: 100%;
}

.wrap {
  max-width: 1280px;
}

.header {
  width: 100%;
  padding: 11px 30px;
  background-color: #F1F1F1;
  overflow: auto;
  .logo {
    width: 150px;
    height: 100%;
    float: left;
    img {
      width: 132px;
      height: 33px;
    }
  }
  .info {
    float: right;
    width: 50%;
    padding: 5px 0;
  }
  .social {
    list-style: none;
    width: 100%;
    text-align: right;
    li {
      display: inline-block;
      vertical-align: middle;
      &.facebook {
        position: relative;
        top: -2px;
      }
    }
  }
}

.content {
  .bar {
    padding: 14px 28px;
    border-bottom: 1px solid #e5e5e5;
  }
  h1 {
    color: #dd4b39;
    font-weight: 300;
    font-size: 20px;
    height: 29px;
    font-weight: normal;
    line-height: 29px;
    white-space: nowrap;
  }
  .table {
    width: 100%;
    font-size: 0;
    padding: 0 30px;
    .tcell {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      font-size: 12px;
      position: relative;
      &:first-child {
        padding: 0 10px 0 0;
      }
    }
  }
  .languages {
    display: inline-block;
    vertical-align: middle;
    margin: 15px 0 10px 0;
    font-size: 0;
    > li {
      display: inline-block;
      background-color: #f5f5f5;
      background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
      background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
      background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
      background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
      background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
      color: #444;
      border: 1px solid #ccc;
      outline: none;
      height: 27px;
      width: auto;
      line-height: 25px;
      font-weight: 600;
      padding: 0 8px;
      font-size: 11px;
      font-weight: bold;
      text-align: center;
      white-space: nowrap;
      vertical-align: top;
      border-right: 0;
      &:first-child {
        -webkit-border-top-left-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      &:last-child {
        border: 1px solid #ccc;
        -webkit-border-top-right-radius: 3px;
        -webkit-border-bottom-right-radius: 3px;
        -moz-border-radius-topright: 3px;
        -moz-border-radius-bottomright: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
      &.selected {
        background-image: -webkit-linear-gradient(top, #eee, #e0e0e0);
      }
      &.more {
        padding: 0;
        position: relative;
        #more {
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
      }
    }
  }
}

#options {
  width: 250px;
  height: auto;
  position: absolute;
  top: 42px;
  left: 248px;
  background-color: #FFF;
  z-index: 10;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-size: 0;
  display: none;
  padding: 10px;
  ul {
    display: inline-block;
    height: 100%;
    list-style: none;
    position: relative;
    vertical-align: top;
    &.labels {
      text-align: right;
      width: 40%;
    }
    &.values {
      width: 60%;
      .option {
        width: 100px;
      }
      .onoffswitch {
        position: relative;
        width: 100px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
      }
      .onoffswitch-checkbox {
        display: none;
      }
      .onoffswitch-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        height: 15px;
        padding: 0;
        line-height: 15px;
        border: 1px solid #CCCCCC;
        border-radius: 15px;
        background-color: #E84135;
        transition: background-color 0.2s linear;
        &:before {
          content: "";
          display: block;
          width: 15px;
          margin: 0px;
          background: #FFFFFF;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 88px;
          border: 1px solid #CCCCCC;
          border-radius: 15px;
          transition: all 0.2s linear;
        }
      }
      .onoffswitch-checkbox:checked + .onoffswitch-label {
        background-color: #34A954;
        &:before {
          right: 0px;
        }
      }
    }
    li {
      font-size: 12px;
      vertical-align: top;
      padding: 5px 15px;
      height: 25px;
    }
  }
}

.content {
  .languages > li .triangle {
    width: 0;
    height: 0;
    position: relative;
    top: 12px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
    border-color: #777 transparent;
  }
  .btn {
    vertical-align: middle;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
    background-image: linear-gradient(top, #4d90fe, #4787ed);
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 2px;
    font-size: 11px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    height: 27px;
    line-height: 25px;
    min-width: 54px;
    outline: 0px;
    padding: 0 8px;
    margin: 15px 0 10px;
    cursor: pointer;
    &.green {
      background-color: #35A754;
      background-image: -webkit-linear-gradient(top, #35A754, #2d8d47);
      background-image: -moz-linear-gradient(top, #35A754, #2d8d47);
      background-image: -ms-linear-gradient(top, #35A754, #2d8d47);
      background-image: -o-linear-gradient(top, #35A754, #2d8d47);
      background-image: linear-gradient(top, #35A754, #2d8d47);
      border: 1px solid #25733a;
    }
  }
  .source {
    width: 100%;
    height: 130px;
    border: 1px solid #D9D9D9;
    border-top: 1px solid #C0C0C0;
    resize: none;
    outline: 0;
    font-size: 24px;
    padding: 8px;
    color: #222;
    &:hover {
      border: 1px solid #b9b9b9;
      border-top: 1px solid #a0a0a0;
      @include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.3), true);
    }
    &:focus {
      border: 1px solid #4d90fe;
      @include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.3), true);
    }
  }
  .result {
    background-color: #F5F5F5;
    width: 100%;
    height: auto;
    min-height: 130px;
    font-size: 24px;
    padding: 8px;
    color: #222;
  }
  .iNeedToEat {
    margin: 15px 0 15px;
    width: 100%;
    height: auto;
  }
}

.footer {
  width: 100%;
  height: auto;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
  border-top: 1px solid #e5e5e5;
  background-color: #f1f1f1;
  z-index: 10;
  overflow: auto;
  .footer-links {
    width: 100%;
    list-style: none;
    padding: 0 0 0 30px;
    font-size: 0;
    li {
      width: 33.3%;
      font-size: 12px;
      color: #15c;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      padding: 7px 0;
      a {
        color: #15c;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .content .table .tcell {
    display: block;
    width: 100%;
    &:first-child {
      padding: 0;
    }
  }
  .content .languages > li.hide-md, #copy {
    display: none;
  }
  .content {
    .result, .source {
      font-size: 14px;
    }
  }
  .footer {
    position: static;
    .footer-links {
      li {
        width: 100%;
        display: block;
        text-align: center;

      }
    }
  }
  .header {
    .logo {
      float: none;
      width: 100%;
      text-align: center;
    }
    .info {
      float: none;
      width: 100%;
    }
    .social {
      text-align: center;
    }
  }
  #options {
    left: 0;
    width: 100%;
  }
}
