doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Googleflog, traductor de español a idioma metroflog turro cañi
    meta(property='og:title', content='Googleflog, traductor de español a idioma metroflog')
    meta(property='og:description', content='Traductor de español al estúpido idioma ** eEzhTiil0o meETr0ofl0oG *~ xD')
    meta(property='og:url', content='http://kinduff.com/googleflog')
    meta(property='og:image', content='http://kinduff.com/googleflog/images/social.jpg')
    meta(name='description', content='Traductor de español al estúpido idioma ** eEzhTiil0o meETr0ofl0oG *~ xD')
    link(rel='alternate', type='application/rss+xml', title='', href='')
    link(rel='icon', type='image/png', href='/images/favicon.png')
    link(rel='stylesheet', href='style/stylesheet.css')
  body
    .header
      .logo
        img(src="images/googleflog.png")
      .info
        ul.social
          li.facebook
            .fb-like(data-href='http://abarcarodriguez.com/googleflog/', data-width='300', data-layout='button_count', data-action='like', data-show-faces='false', data-share='false')
          li.twitter
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-url='http://kinduff.com/googleflog/', data-via='kinduff', data-related='kinduff') Tweet
    .content
      .bar
        h1 Translate
      .wrap
        .table
          .tcell
            ul.languages
              li.hide-md Spanish
              li English
              li.selected Detect language
              li
                .triangle
            button.btn#more Opciones
            #options
              ul.labels
                li Solo texto
                li Inicio
                li Final
              ul.values
                li
                  .onoffswitch
                    input.option.onoffswitch-checkbox(type="checkbox", name="noTrails" id="noTrails")
                    label.onoffswitch-label(for='noTrails')
                li
                  input.option(type="text", name="head" id="head")
                li
                  input.option(type="text", name="tail" id="tail")
            textarea.source(autofocus=true)#source
          .tcell
            ul.languages
              li.selected Metroflog
              li
                .triangle
            button.btn#copy Copiar a portapapeles
            button.btn#twitter Enviar por Twitter
            .result#result(contenteditable="")
        .table
          .tcell
            .iNeedToEat
              ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-9434326215491415', data-ad-slot='5917480751', data-ad-format='auto')
          .tcell
    .footer
      ul.footer-links
        li Coded in 2013. Refactored in 2016.
        li
          | Done with ♥ by 
          a(href="http://twitter.com/kinduff") Kinduff
        //- li
        //-   a(href="#") Read the blog post
    #fb-root
    script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    script.
      // Facebook
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5&appId=249794381729144";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
  
      // Twitter
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

      // Adsense
      (adsbygoogle = window.adsbygoogle || []).push({});

      // Analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-1750020-2', 'auto');
      ga('send', 'pageview');
    script(src='js/app.js')
