doctype html
html
  head
    title= title
    link(rel='stylesheet', href='style/stylesheet.css')
  body
    .header
      .logo
        img(src="images/googleflog.png")
      .info
        ul.social
          li.facebook
            .fb-like(data-href='http://abarcarodriguez.com/googleflog/', data-width='300', data-layout='button_count', data-action='like', data-show-faces='false', data-share='false')
          li.twitter
            a.twitter-share-button(href='https://twitter.com/share', {count}='', data-url='http://kinduff.com/googleflog/', data-via='kinduff', data-related='kinduff') Tweet
    .content
      .bar
        h1 Translate
      .wrap
        .table
          .tcell
            ul.languages
              li Spanish
              li English
              li.selected Detect language
              li
                .triangle
            button.btn#more Opciones
            #options
              ul.labels
                li Sin inicio
                li Sin final
                li Solo texto
                li Inicio
                li Final
              ul.values
                li
                  .onoffswitch
                    input.onoffswitch-checkbox(type="checkbox", name="noHead" id="noHead")
                    label.onoffswitch-label(for='noHead')
                li
                  .onoffswitch
                    input.onoffswitch-checkbox(type="checkbox", name="noTail" id="noTail")
                    label.onoffswitch-label(for='noTail')
                li
                  .onoffswitch
                    input.onoffswitch-checkbox(type="checkbox", name="noTrails" id="noTrails")
                    label.onoffswitch-label(for='noTrails')
                li
                  input.option(type="text", name="head" id="head")
                li
                  input.option(type="text", name="tail" id="tail")
            textarea.source(autofocus=true)#source
          .tcell
            ul.languages
              li.selected Metroflog
              li
                .triangle
            button.btn#copy Copiar a portapapeles
            button.btn#twitter Enviar por Twitter
            .result#result
    .footer
    #fb-root
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5&appId=249794381729144";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    script(src='js/app.js')
