doctype html
html
  head
    title= title
    link(rel='stylesheet', href='style/stylesheet.css')
  body
    .header
      .logo
        img(src="images/googleflog.png")
      .info
    .content
      .bar
        h1 Translate
      .wrap
        .table
          .tcell
            ul.languages
              li Spanish
              li English
              li.selected Detect language
              li
                .triangle
            button.btn#more Opciones
            #options
              ul.labels
                li Sin inicio
                li Sin final
                li Sólo texto
                li Inicio
                li Final
              ul.values
                li
                  input.option(type="checkbox", name="noHead")
                li
                  input.option(type="checkbox", name="noTail")
                li
                  input.option(type="checkbox", name="noTrails")
                li
                  input.option(type="text", name="head")
                li
                  input.option(type="text", name="tail")
            textarea.source(autofocus=true)#source
          .tcell
            ul.languages
              li.selected Metroflog
              li
                .triangle
            button.btn#copy Copiar a portapapeles
            button.btn Enviar por Twitter
            .result#result
    .footer
    script(src='js/app.js')
